doctype html
html
  head
    title= fullpagejs
    link(rel='stylesheet', href='/stylesheets/jquery.fullPage.css')
    link(rel='stylesheet', href='/stylesheets/examples.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jqueryui.min.js')
    script(src='/javascripts/jquery.fullPage.js')
    script(src='/javascripts/myapp.js')
  body
    block content
